<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Lista de tareas</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
</head>

<body ng-app="myApp">

    <div ng-controller="controller">
        <div style="margin: 2%; float: left;">
            <h3>Inserta datos a guardar</h3>
            <input ng-model="inputName" type="text"><br /><br />
            <input ng-model="inputValue" type="text"><br /><br />
            <button ng-click="reset()">RESET</button>
            <button ng-click="guardar()">GUARDAR</button>
            <!--  -->
        </div>
        <div style="margin: 2%; float: left;">
            <h2>localStorage</h2>
            <ul>
                <li>{{ localName }}</li>
                <li>{{ localValue }}</li>
            </ul>
            <h2>sessionStorage</h2>
            <ul>
                <li>{{ sessionName }}</li>
                <li>{{ sessionValue }}</li>
            </ul>
        </div>
    </div>

    <!-- AngularJS - Funcionalidad -->
    <script src="./js/localSesion.js"></script>

</body>


</html>