<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<body ng-app="myApp" ng-controller="todoCtrl">

    <h2>My Todo List</h2>

    <form ng-submit="todoAdd()">
        <input type="text" ng-model="todoInput" size="50" placeholder="Add New">
        <input type="submit" value="Add New">
    </form>

    <br>

    <div ng-repeat="x in todoList">
        <input type="checkbox" ng-model="x.done"> <span ng-bind="x.todoText"></span>
    </div>

    <p><button ng-click="remove()">Remove marked</button></p>

    <script>
        var app = angular.module('myApp', []);
        app.controller('todoCtrl', function ($scope) {

            // Creamos una lista por primera vez al cargar la pagina
            // la cual sera de un solo elemento. 
            $scope.todoList = [{ todoText: 'Clean House', done: false }];

            // Añadimos a la lista anterior, cuando pulsemos el boton de 
            // añadir tarea (submit), la tarea con el string del input,
            // y de paso borramos el contenido del input.
            $scope.todoAdd = function () {
                $scope.todoList.push({ todoText: $scope.todoInput, done: false });
                $scope.todoInput = "";
            };

            // Aqui borramos los checkboxes marcados, primero guardamos toda 
            // la lista en una variable local, despues borramos la lista de todoList
            // y luego con un for each comprobamos los checkboxes que no estan marcados,
            // los que no estan marcados se añadiran de la variable oldList a la,
            // original para que pueda sacarse.
            $scope.remove = function () {
                var oldList = $scope.todoList;
                $scope.todoList = [];
                angular.forEach(oldList, function (x) {
                    if (!x.done) $scope.todoList.push(x);
                });
            };
        });
    </script>

</body>

</html>